
<h1> Select-Box</h1>
<div class="container">
  <h2> List1</h2>
  <select multiple="multiple"
   ng-model="list1"
   ng-options="i as i.name for i in list1Items[selectOption] ">

</select>
</div>

<button class="left" ng-click = "btnLeft()" >&laquo; List1</button>
<button class="right" ng-click = "btnRight()">List2 &raquo;</button>

<div class="container1">
<h2>List2</h2>
  <select multiple="multiple"
   ng-model="list2"
   ng-options="i as i.name for i  in list2Items[selectOption] ">

</select>
</div>
